[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
click = "*"
future = "*"

[dev-packages]
pytest = "<5"
pytest-cov = "*"
mock = "*"
pylint = "*"
autopep8 = "*"
twine = "*"
